<div class="navbar">
  <h1><%= link_to "Suggestion Box", root_path %></h1>
  <ul class="navlinks">
    <% if session[:current_user_id] %>
      <span class="navlink"><%= link_to "Logout", signout_path %></span>
    <% else %>
      <span class="navlink"><%= link_to "Login", signin_path %></span>
    <% end %>
  </ul>
</div>