<div class="navbar">
  <h1><%= link_to "Suggestion Box", root_path %></h1>
  <ul class="navlinks">
    <% if session[:current_user_id] %>
      <li class="navlink"><%= link_to "Account", user_path(id: session[:current_user_id]) %></li>
      <li class="navlink"><%= link_to "Logout", signout_path %></li>
    <% else %>
      <li class="navlink"><%= link_to "Login", signin_path %></li>
    <% end %>
  </ul>
</div>