// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin: 0 auto;
  width: 60%;
}

.navbar {
  background-color: cornflowerblue;
  height: 80px;
  width: 100%;
}

header h1 {
  float: left;
}

header a {
  color: black;
  float: right;
  text-decoration: none;
}

.signup {
  clear: both;
  float: left;
  width: 30%;
}

.welcome {
  float: right;
  width: 70%;
}

.recent {
  clear: both;
}