// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.negative {
  position: absolute;
  top: -80px;
  width: 100%;
}

.first {
  background-image: url("/sky.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 250px;
  position: relative;
  top: 80px;
  width: 100%;
}

.signup {
  background-color: rgba(169, 169, 169, 0.6);
  border: solid 2px darkgray;
  border-radius: 10px;
  clear: both;
  display: block;
  float: left;
  height: 125px;
  margin-left: 12%;
  padding-left: 2%;
  padding-right: 7%;
  padding-top: 1%;
  position: relative;
  top: 45px;
  width: 80px;
}

.welcome {
  color: white;
  display: block;
  float: right;
  height: 250px;
  margin-right: 10%;
  position: relative;
  top: 35px;
  text-shadow: 1px 1px gray;
  width: 50%;
}

.welcome a {
  display: block;
  text-align: center;
}

.recent {
  float: left;
  padding-left: 10%;
  padding-right: 10px;
  position: relative;
  top: 80px;
  width: 39%;
}

.local {
  float: right;
  padding-left: 10px;
  padding-right: 10%;
  width: 39%;
}

.recent a {
  text-decoration: none;
}

.suggestion-link {
  background-color: rgba(128, 128, 128, 0.4);
  border: 2px solid darkgray;
  border-radius: 10px;
  color: gray;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 8px;
}
