// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin: 0 auto;
  width: 60%;
}

.navbar {
  background: linear-gradient(356deg, gray, cornflowerblue);
  height: 80px;
  width: 100%;
}

header h1, header h1 a {
  float: left;
  text-decoration: none;
}

header a {
  color: black;
}

header .navlink {
  float: right;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.signup {
  clear: both;
  float: left;
  width: 30%;
}

.welcome {
  float: right;
  width: 70%;
}

.recent {
  clear: both;
}